@model List<Yeni>
<div class="row text-lg-center">
    <div class="col-6 text-center">
        <div class="text-center">

            <h3 class="accordion-header"> Batman İletişim </h3>
            <table class=" table table-hover table-bordered">

                <tr>
                    <th>Telefon</th>
                    <th>Mail Adresi</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Telefon

                        </td>
                        <td>
                            @item.Email
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
