@model List<Yeni>
    <div>
        <table class="table table-hover table-bordered">
            <tr>
                <th>Uzman Ekibimizin Unvanları </th>
            </tr>
            
                @foreach (var item in Model)
                {

                   <tr>
                       <td>@item.Meslek</td>
                 
                   </tr>
                }
            
        </table>
    </div>